/* Dark mode colors. */
:root {
	--sl-color-accent-low: #1e66f5;
	--sl-color-accent: #ea999c;
	--sl-color-accent-high: #85c1dc;
	--sl-color-white: #c6d0f5;
	--sl-color-gray-1: #b5bfe2;
	--sl-color-gray-2: #a5adce;
	--sl-color-gray-3: #949cbb;
	--sl-color-gray-4: #838ba7;
	--sl-color-gray-5: #737994;
	--sl-color-gray-6: #292c3c;
	--sl-color-black: #232634;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #04a5e5;
	--sl-color-accent: #7287fd;
	--sl-color-accent-high: #8839ef;
	--sl-color-white: #4c4f69;
	--sl-color-gray-1: #5c5f77;
	--sl-color-gray-2: #7c7f93;
	--sl-color-gray-3: #8c8fa1;
	--sl-color-gray-4: #bcc0cc;
	--sl-color-gray-5: #ccd0da;
	--sl-color-gray-6: #eff1f5;
	--sl-color-gray-7: #e6e9ef;
	--sl-color-black: #dce0e8;
}

.inline {
	display: inline;
	word-break: keep-all;
}