/* Dark mode colors. */
:root {
	--sl-color-accent-low: #3d1700;
	--sl-color-accent: #a74b00;
	--sl-color-accent-high: #f9b895;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e7edff;
	--sl-color-gray-2: #b6c2df;
	--sl-color-gray-3: #7689c0;
	--sl-color-gray-4: #445588;
	--sl-color-gray-5: #263464;
	--sl-color-gray-6: #162250;
	--sl-color-black: #10172c;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #fccbb1;
	--sl-color-accent: #aa4c00;
	--sl-color-accent-high: #532200;
	--sl-color-white: #10172c;
	--sl-color-gray-1: #162250;
	--sl-color-gray-2: #263464;
	--sl-color-gray-3: #445588;
	--sl-color-gray-4: #7689c0;
	--sl-color-gray-5: #b6c2df;
	--sl-color-gray-6: #e7edff;
	--sl-color-gray-7: #f3f6ff;
	--sl-color-black: #ffffff;
}