---
import { Icon } from '@astrojs/starlight/components';
import Version from './Version.astro';

interface Props {
	title: string;
	githubIntegrationURL: string;
}


const { title, githubIntegrationURL } = Astro.props;
---

<div class="wrapper">
	<h3 id="_top">
		<>
		<span class="scope">@adammatthiesen/</span>
		<span>{title.replace('@adammatthiesen/', '')}</span>
		</>
	</h3>
	<div class="integration-metadata">
    		<a href={githubIntegrationURL}>
                <Icon size="1rem" name="github" /> GitHub
			</a>
			<!-- <a href={githubIntegrationURL + 'CHANGELOG.md'}>
				<Icon size="1rem" name="list-format" /> Changelog
			</a> -->
		</div>
	</div>

<style>
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	h1 {
		display: flex;
		flex-wrap: wrap;
		color: var(--sl-color-white);
		font-size: var(--sl-text-h1);
		font-weight: 600;
		line-height: var(--sl-line-height-headings);
	}
	.scope {
		color: var(--sl-color-text);
		font-weight: 400;
	}
	.integration-metadata {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 0.5rem 1rem;
		font-size: var(--sl-text-xs);
	}
	.integration-metadata a {
		display: flex;
		align-items: center;
		gap: 0.25rem;
		text-decoration: none;
		color: var(--sl-color-text-accent);
	}
	.integration-metadata a:hover {
		color: var(--sl-color-white);
	}
	.integration-metadata svg {
		width: 1.5rem;
	}
</style>